<h1>Редагувати двигун</h1>

<%= render 'form', engine: @engine %>

<%= link_to "Назад до списку двигунів", admin_model_model_year_engines_path(@model_year.model, @model_year), class: "btn btn-secondary mt-3" %>
