.catalog-page {
  max-width: fit-content;
  display: flex;
  flex-wrap: nowrap;
}

.product-list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;    
  max-width: 1200px;
  margin: 0 auto;       
}

  
  .product-item {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .product-item h2 {
    font-size: 20px;
  }
  
  .product-item p {
    margin: 20px;
    font-size: 14px;
    color: #555;
  }
  
  .btn {
    max-width: fit-content;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  
  .filter {
    margin-bottom: 15px;
  }
  
  .filter .form-label {
    font-weight: bold;
  }
  
  .actions {
    margin-top: 20px;
  }

  .reviews {
    margin-top: 20px;
  }
  
  .review {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .sidebar-filters {
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 0 0 300px; 
    margin-right: 20px;
  }
  
  .sidebar-filters .form-group {
    margin-bottom: 20px; 
  }
  
  .sidebar-filters label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .sidebar-filters select,
  .sidebar-filters button {
    width: 100%; 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    list-style: none;
    padding: 0;
  }
  
  .pagination .page {
    margin: 0 5px;
  }
  
  .pagination .page a,
  .pagination .page span {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pagination .page a:hover {
    background-color: #0056b3;
    color: white;
  }
  
  .pagination .page.current span {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    font-weight: bold;
  }
  
  .pagination .first,
  .pagination .last,
  .pagination .previous,
  .pagination .next {
    margin: 0 10px;
  }
  
  .pagination .disabled span {
    color: #aaa;
    cursor: not-allowed;
    background-color: #f8f9fa;
    border-color: #ddd;
  }
  