<h1>Каталог товарів</h1>

<div class="product-list">
  <% @products.each do |product| %>
    <div class="product-item">
      <h2><%= link_to product.name, product_path(product) %></h2>
      <p><%= truncate(product.description, length: 100) %></p>
      <p><strong>Ціна:</strong> <%= number_to_currency(product.price, unit: "грн", format: "%n %u") %></p>
      <%= link_to 'Додати в кошик', cart_path(product_id: product.id), method: :post, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>